@inherits LayoutComponentBase

<div class="app-shell">

    <!-- HEADER ESTILO IBM (BARRA SUPERIOR) -->
    <header class="app-header">
        <div class="app-header-inner">
            <div class="app-brand">
                <a href="/essmx/" class="app-logo">
                    <!-- Aquí luego metes tu logo -->
                    <span class="app-logo-text">ESS </span>
                </a>
            </div>

            <nav class="app-nav">
              
                <NavLink href="economiass" class="app-nav-link">
                    La nueva Economía
                </NavLink>
                <NavLink href="software" class="app-nav-link">
                    Don sabiondo
                </NavLink>
                <NavLink href="revista" class="app-nav-link">
                    Revista 
                </NavLink>
                 <NavLink href="Observatorio" class="app-nav-link">
                    Observatorio  
                </NavLink>
                <NavLink href="noticias" class="app-nav-link">
                    Noticias
                </NavLink>

            </nav>

            <div class="app-header-actions">
                <button class="btn-outline">
                    Iniciar sesión
                </button>
            </div>
        </div>
    </header>

    <!-- CUERPO PRINCIPAL -->
    <main class="app-main">
        <div class="app-main-inner">
            @Body
        </div>
    </main>

    <!-- FOOTER SIMPLE -->
    <footer class="app-footer">
        <div class="app-footer-inner">
            <span>© @DateTime.Now.Year Economía Social Solidaria · UdC </span>
        </div>
    </footer>

</div>